@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab|Titillium+Web|Lato');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/** Login Styles **/
body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    background: #323232;
}
header {
    min-height: 100px;
}
header #site-name a{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #FAEDB8;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: rgba(33.3,33.3,33.3);
    padding: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
nav a {
    text-decoration: none;
    color: #fff;
    margin-right: 8px;
}
nav a:hover{
    color: #FAEDB8;
}
nav a.nav-item{
    font-size: 1rem;
    border: 1px solid #fff;
    padding: 8px 10px;
}
.nav-links .btn {
    padding: 0.5rem;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 1rem;
    background-color: #3359DF;
}
.nav-links img#user-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    border: 2px solid #ccc;
}
header #cover-area{
    height: 25%;
    min-height: 200px;
    background: url(../images/cover-unsplash.jpg) no-repeat 0;
    background-position: center;
    background-size: cover;
    text-align: center;

}
header #cover-area .container{
    display: inline-block;
    margin-top: 50px;
}
main {
    margin: auto;
    margin-top: 100px;
    box-shadow: 30px 0px 40px rgba(0,0,0,0.2), 
        -30px 0px 40px rgba (0,0,0,0.2);
}
#cover-area #profile-image{
    margin-bottom: -40px;
}
#cover-area #profile-image #avatar {
    display: inline-block;
    width: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid rgba(33.3,33.3,33.3, 0.5);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}

#cover-area h1{
    font-size: 2.0rem;
}
#cover-area .entries-count{
    text-shadow: 1px 4px 2px rgba(0,0,0,0.5);
    font-size: 1.1rem;
}
#cover-area .entries-count .no{
    font-size: 1.6rem;
    color: #ddd;
    text-shadow: 1px 4px 2px rgba(0,0,0,0.5);
}
#cover-area #fav-quote{
    color: #333;
    font-size: 1.1rem;
}
#cover-area #fav-quote i{
    font-size: 0.8rem;
}

#settings-box{
    overflow: hidden;
    padding: 25px 20px;
    width: 80%;
    margin: 50px auto;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    background: rgba(33.3,33.3,33.3, 0.5);
    color: #fff;
}
.s-input{
    font-family: 'Roboto Slab', sans-serif;
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px 9px;
    font-size: 0.8rem;
    background: #fff;
    border: 1px solid transparent;
    color: #666;
    border-radius: 3px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.settings-action{
    margin: 0 auto;
    display: flex;
    justify-content: flex-end
}
.s-btn{
    display: block;
    margin-right: 40px;
    -webkit-appearance: none;
    font-size: 1rem;
    text-shadow: none;
    line-height: 1.1;
    display: inline-block;
    outline: 0;
    padding: 8px 10px;
    border-radius: 3px;
    border: 3px solid transparent;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
   
}
#edit-profile-btn{
    background: #04b5f7;
    border-top: 3px solid #ccc;
}
#edit-profile-btn:hover {
    border-top: 3px solid #FAEDB8;
}
#save-profile-btn{
    background: #47cf73;
    border-top: 3px solid #ccc;
}
#save-profile-btn:hover {
    border-top: 3px solid #FAEDB8;
}
#edit-rem-btn{
    border-top: 3px solid #ccc;
    background: #04b5f7;
}
#edit-rem-btn:hover{
    border-top: 3px solid #FAEDB8;
}
.reminder-btn-active{
    background: #47cf73 !important;
}
h2.settings-title{
    border-bottom: 3px solid #FAEDB8;
    margin-bottom: 25px;
}


@media(max-width: 400px) {
    .settings-action{
        justify-content: center;
    }
    .s-btn {
        
        margin-right: 0;
    }
    #edit-profile-btn{
        width: 90%;
    }
    #edit-rem-btn{
        width: 80%;
    }
}
/** Screen sizes 900px and up **/
@media(min-width: 900px) {
    #settings-box{
        width: 70%;
        
    }
    #edit-profile-btn{
        margin-right: 55px;
    }
    #edit-rem-btn{
        margin-right: 65px;
    }
}

/** Screen sizes 1000px and up **/
@media(min-width: 1000px) {
    #settings-box{
        width: 65%;
    }
    #edit-profile-btn{
        margin-right: 75px;
    }
    #edit-rem-btn{
        margin-right: 85px;
    }
}